#content{
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 70px;
    border: 2px solid #dddddd;
}

h1{
    font-family:'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
}
img{
    width:400px;
    height:400px;
}

.position-absolute{
    background-color: #4aaaa5;
    color:white;
	width: 300px;
	bottom: 30px;
    padding: 15px;
}
.text-center{
    display: flex;
    justify-content: center;
}